@font-face {
  font-family: "iconfont"; /* Project id 4322983 */
  src: url('iconfont.woff2?t=1719914320695') format('woff2'),
       url('iconfont.woff?t=1719914320695') format('woff'),
       url('iconfont.ttf?t=1719914320695') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun:before {
  content: "\e63a";
}

.icon-shequhudong:before {
  content: "\e60b";
}

.icon-qrcode:before {
  content: "\ea21";
}

.icon-tousu:before {
  content: "\e7e5";
}

.icon-kelong1:before {
  content: "\e603";
}

.icon-shanchu1:before {
  content: "\e66c";
}

.icon-qrcode-1-copy:before {
  content: "\e615";
}

.icon-kelong:before {
  content: "\e60e";
}

.icon-huodonghuigu:before {
  content: "\e661";
}

.icon-pingweipingshen:before {
  content: "\e655";
}

.icon-tupianzhibo:before {
  content: "\e60a";
}

.icon-xiaoxi1:before {
  content: "\e60d";
}

.icon-tongzhixiaoxi:before {
  content: "\e670";
}

.icon-xiaoxi:before {
  content: "\e63c";
}

.icon-jiangpaipaiming:before {
  content: "\e628";
}

.icon-zhuye:before {
  content: "\e7bb";
}

.icon-zhuye-xuanzhong:before {
  content: "\e609";
}

.icon-huo:before {
  content: "\e606";
}

.icon-daren:before {
  content: "\e602";
}

.icon-miaoshu:before {
  content: "\e775";
}

.icon-huodongjieshao:before {
  content: "\e614";
}

.icon-kefu:before {
  content: "\ec2e";
}

.icon-weixin:before {
  content: "\e637";
}

.icon-dashang:before {
  content: "\e658";
}

.icon-liwu1:before {
  content: "\e613";
}

.icon-liwu:before {
  content: "\e601";
}

.icon-yinle:before {
  content: "\e600";
}

.icon-wodedamaijihuo:before {
  content: "\e656";
}

.icon-icon_tuijian-mian:before {
  content: "\e65a";
}

.icon-liwulipinjiangpin:before {
  content: "\e7b6";
}

.icon-15:before {
  content: "\e626";
}

.icon-20:before {
  content: "\e627";
}

