@import './base.css';


:root {
    color-scheme: light dark;
}

#app {
    margin: auto;
    position: relative;
    font-weight: normal;
    color: rgba(0, 0, 0, .8);
    /*-webkit-overflow-scrolling: touch;*/
}

@media screen and (max-width: 1280px) {
    #app {
        max-width: none;
    }

    #footer {
        width: 100% !important;
    }
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    background: url("https://open-leaderboard.x-lab.info/pics/Header%20BG.png") no-repeat center center / cover;
}

img {
    display: block;
}


a,
.green {
    color: #17ebf5;
    transition: 0.4s;
}

.el-drawer {
    border-radius: 10px 0 0 10px;
}


.bound-enter-from,
.bound-leave-to {
    opacity: 0;
}


.el-icon.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 120px;
    height: 120px;
    text-align: center;
}

.bold {
    font-weight: 700;
}




